/* Gerais */
body{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.row{
  margin:0;
}

.container{
  padding: 70px 0;
  background-color: white;
}

p, li{
  font-size: 14px;
}

/*Barra de navegaçãp*/
header, .navbar{
  background-color: #353D41;

}

#logo{
  width: 4em;
  padding-left: 1rem;

}

/* Sider */
.countainder-fluid{
  padding: 0;
}


.carousel-inner img {
  height: 75dvh;
  object-fit: cover;
}

.carousel-item > img {
  filter: brightness(50%);
}

.card{
  border-radius: 10px !important;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
  width: 20rem !important;
  margin: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.container {
  padding: 1rem;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.card-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 0.5rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  cursor: grab;
  touch-action: pan-x;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-countainer {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  justify-content: center; /* Centraliza os cards no eixo X */
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card-container.grabbing {
  cursor: grabbing;
}

.card {
  flex: 0 0 auto;
  width: 250px;
  scroll-snap-align: start;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  width: 100%;
  height: 150px;
  background-color: #ddd;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
  flex-grow: 1;
}

.card-title {
  text-align: center;
  margin-bottom: 1rem;
}

.border-top {
  border-top: 1px solid #eaeaea;
  padding-top: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.color-accent {
  color: #333;
}

.fw-bold {
  font-weight: bold;
}

.feature-row {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 1rem 0;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.emoji {
  font-size: 1.5rem;
}

.feature-value {
  font-weight: bold;
}

.card-footer {
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
  border-top: 1px solid #eaeaea;
}
