modules = ["nodejs-20", "java", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["openjdk17-bootstrap", "maven"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Server"

[[workflows.workflow]]
name = "Web Server"
author = "agent"

[[workflows.workflow.tasks]]
name = "Backend"
task = "shell.exec"
args = "mvn spring-boot:run"

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[deployment]
deploymentTarget = "dynamic"
publicDir = "."
