@import "tailwindcss";
@variant dark (&:where(.dark, .dark *)); 

main{
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 4rem;
}



.banner-shadow {
  /* box-shadow: inset [X] [Y] [Blur] [Espalhamento] [Cor] */
  box-shadow: inset 0 35px 60px -15px rgba(0, 0, 0, 0.6);
  
  /* Garantindo que a imagem de fundo se comporte bem */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}